<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindMetric | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>MindMetric</h2>
        <p>Please enter your details to log your mood.</p>
        
        <form action="/login" method="POST">
            
            <input type="text" name="student_id=" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn-login">Login</button>
        

<div class="helper-links">
    <a href="#" class="forgot-password">Forgot Password?</a>
</div>
        </form>
        
        <div class="footer-links">
            <a href="#">Don't have an account? Register</a>
        </div>
    </div>
</body>
</html>